<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Modern Team Collaboration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="styles/bootstrap/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="styles/bootstrap/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="favicon.ico">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Modern Team Collaboration</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Welcome Back <a href="#" class="navbar-link">#{Username}</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="/#admin">Admin Panel</a></li>
              <li><a href="#about"></a></li>
              <li><a href="#contact"></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
				
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list" id="sidebar">
              
              
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
				<div class="span9" id="content">

				</div>
				
				
				
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Quynh Nguyen - QuynhNguyen003@Gmail.com</p>
      </footer>

    </div><!--/.fluid-container-->
		
		<script type="text/template" id="tpl-frontpage-sidebar">
   	 	<li class="nav-header">Resources</li>
			<li class="divider"></li>
	    <li class="active"><a href="/">Home</a></li>
	    <li><a href="https://github.com/QuynhNguyen/Team-Collaboration">Github Repository</a></li>
	    <li><a href="mailto:quynhnguyen003@gmail.com">Contact Me (Quynh Nguyen)</a></li>
		</script>
		
		<script type="text/template" id="tpl-admin-main">
			<div>
			<div class="hero-unit">
				<h1>Admin Panel</h1>
				<p>Select administrative task on the side bar to start</p>
			</div>	
			</div>
		</script>
	
		
		<script type="text/template" id="tpl-admin-sidebar">
    	<li class="nav-header">Adminstrative Tasks</li>
			<li class="divider"></li>
	    <li><a href="/#admin/account-management">Account Management <i class="icon-chevron-right pull-right"></i></a></li>
	    <li><a href="/#admin/project-management">Project Management <i class="icon-chevron-right pull-right"></i></a></li>
		</script>
		
		<script type="text/template" id="tpl-admin-project-management-main">
			<div class="row-fluid">
				<div class="span4">
				  <legend>Create Project</legend>
				  <label for"projectName">Project Name</label>
				  <input id="projectName" type="text" placeholder="Type something…" class="span12" required>
				  <span class="help-block alert">Project name must be unique and not blank</span>
				  <button id="createProject" class="btn btn-primary">Create Project</button>
				</div>	
			</div>
		</script>
		
		<script type="text/template" id="tpl-admin-project-management-sidebar">
	    <li class="nav-header">Project List</li>
			<li class="divider"><li>
		</script>
		
		<script type="text/template" id="tpl-project">
			<a><%= name %> <i class="icon-chevron-right pull-right"></i> </a>
		</script>
		
		
		<script type="text/template" id="tpl-edit-project">
			<div class="row-fluid">
				<div class="span4">
					<div>
					  <legend>Edit Project</legend>
					  <label for"projectID">Project ID</label>
					  <input id="projectID" type="text" value="<%= _id %>" class="span12" disabled>
					  <label for"projectName">Project Name</label>
					  <input id="projectName" type="text" value="<%= name %>" class="span12" required></input>
					  
					  <button type="submit" class="btn-small btn-primary" id="updateProject">Update Project</button> 
						<button type="submit" class="btn-small btn-danger" id="deleteProject">Delete Project</button>
						<button type="submit" class="btn-small btn-info" id="createAnotherProject">Create Project</button>
					</div>
				</div>	
			</div>
		</script>
		
		
		
		
		
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <!-- build:js scripts/scripts.js -->
        <script src="scripts/vendor/jquery.min.js"></script>
        <script src="scripts/vendor/lodash.min.js"></script>
        <script src="scripts/vendor/backbone-min.js"></script>
        <script src="scripts/main.js"></script>
        <script src="scripts/views/application-view.js"></script>
				<script src="scripts/views/admin-view.js"></script>
        <script src="scripts/models/application-model.js"></script>
				<script src="scripts/models/project-model.js"></script>
        <script src="scripts/collections/application-collection.js"></script>
				<script src="scripts/collections/project-collection.js"></script>
        <script src="scripts/routes/app-router.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
